@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 2.4em;
}

.contactInfo {
  margin-top: -200px;
}

.alternating-colors { padding-left: 50px; }
.alternating-colors li { 
  color: #4F4F4F; 
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  
  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; 
    top: -12px;
    left: -46px;
  }
}

strong { color: #292929; }

ol.alternating-colors { 
  li:before { border-color: #0BAD02; }
}

#Ukraine {
  height: 50vh;
  margin-left: 5%;
}

#KyivCity {
  fill: #3184EA;
  opacity: 0;
}

.mapBackground {
  fill: #74B2FF;
  stroke: #000;
  stroke-width: 0.5;
}

#Ukraine path:hover {
  fill: #97C2F8;
}

.pointerCircle {
  r: 2px;
  fill: #f00;
  stroke-linecap:square;  
  stroke-linejoin:bevel;  
  stroke-miterlimit:4;  
  stroke-dasharray:none;  
  stroke-dashoffset:0;  
  stroke-opacity:1;
}

.cityName {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  fill: #000;
  text-shadow: white 1px 1px 0, white -1px -1px 0,
  white -1px 1px 0, white 1px -1px;
}


#Kiev:hover ~.cityKiev,
#KyivCity:hover ~.cityKiev,
#SevastopolCity:hover ~.citySevastopol,
#Crimea:hover ~.citySimferopol,
#Cherkasy:hover ~.cityCherkasy,
#Chernivtsi:hover ~.cityChernivtsi,
#Dnipropetrovsk:hover ~.cityDnipro,
#Donetsk:hover ~.cityDonetsk,
#Ivano-Frankivsk:hover ~.cityIvano-Frankivsk,
#Kharkiv:hover ~.cityKharkiv,
#Kherson:hover ~.cityKherson,
#Khmelnytskyi:hover ~.cityKhmelnytskyi,
#Kirovohrad:hover ~.cityKropyvnytskyi,
#Luhansk:hover ~.cityLuhansk,
#Lviv:hover ~.cityLviv,
#Mykolaiv:hover ~.cityMykolaiv,
#Odessa:hover ~.cityOdessa,
#Poltava:hover ~.cityPoltava,
#Rivne:hover ~.cityRivne,
#Sumu:hover ~.citySumu,
#Chernihiv:hover ~.cityChernihiv,
#Ternopil:hover ~.cityTernopil,
#Zakarpattia:hover ~.cityUzhhorod,
#Vinnytsia:hover ~.cityVinnytsia,
#Volyn:hover ~.cityLutsk,
#Zaporizhia:hover ~.cityZaporizhia,
#Zhytomyr:hover ~.cityZhytomyr{ 

  visibility: visible;
  opacity: 1;
} 

